{% extends "news/base.html" %}
{% block content %}
		<div class="topic_name">
			<span>Вход</span>
		</div>
		<div id="reg">
			<form method="post" action="signup">{% csrf_token %}
				{{ form.non_field_errors }}
				{{ form.subject.errors }}
				{{ form.password.errors }}
				{{ form.email.errors }}
				<div class="string">
					<div><span>Логин</span></div>
					{{ form.subject }}
				</div>
				<div class="string">
					<div><span>Пароль</span></div>
					{{ form.password }}
				</div>
				<div class="string">
					<div><span>Повтор</span></div>
					{{ form.re_password }}
				</div>
				{% if errors %}
					<p class="error">ВВеденные пароли не совпадают</p>
				{% endif %}
				<div class="string">
					<div><span>E-mail</span></div>
					{{ form.email }}
				</div>
				<button type="submit" class="nice_button reg_button" name="singin"/>
			</form>
		</div>
{% endblock %}